@import "../node_modules/bulma/bulma.sass"

.portrait
    background: url('./me_banner.png')
    height: 250px
    background-size: cover
    background-repeat: no-repeat

.is-portrait-opposite
    padding: 0
    .notification
        height: 250px
        border-radius: 0

.hero-body
    padding: 3rem 0;

h1.title.title-desktop
    font-size: 3rem

h1.title.title-touch
    font-size: 2.5rem
    margin-bottom: 20px

.card
    border-radius: 3px
    box-shadow: 0px 1px 3px #333

.card-header
    border-radius: 3px 3px 0 0

.card-header.is-dark
    background: $dark

.card-header.is-danger
    background: $danger

.card-header.is-link
    background: $link

.card-header.is-primary
    background: $primary

.card-header.is-warning
    background: $warning

.card-content.is-dark
    background: $dark

#banner-title, #home-nav
    padding: 0
    .notification
        height: 150px

#banner-title .notification
    border-radius: 0

#home-nav
    a
        text-decoration: none
        font-size: 1.3rem
    a:hover
        color: $warning
    .notification
        padding: 30px
        border-radius: 0

.footer
    padding-bottom: 3rem
